{% include 'navbar.html' %}
{%block head %}
{% endblock %}
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">I am Divyansh Sharma a Python developer with a strong passion for coding and a keen eye for crafting elegant and efficient solutions. With a curious mind and a thirst for knowledge, I always push myself to the boundaries of my skills, exploring new domains and technologies in the world of Python development.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">My journey as a Python developer began with a curiosity for the world of programming. Fascinated by the simplicity and versatility of Python, I immersed myself in learning the language, starting with basic concepts and gradually progressing to more complex topics.</p></div>
        </div>
        
</section>

{%include 'footer.html'%}        
{%block foot%}
{%endblock%}