{% include 'navbar.html' %}
{%block head %}
{% endblock %}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="static/assets/img/avataaars.svg" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Hello Everyone</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                    
                </div>
                <h1>I'm 𝒟𝒾𝓋𝓎𝒶𝓃𝓈𝒽 </h1>


                
                <br>
                <br>
                <h3 class="masthead-subheading font-weight-light mb-0">a Python Devloper</h3>


            </div>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </header>
        
        
        
        {%include 'footer.html'%}        
        {%block foot%}
        {%endblock%}
